:root {
  --cor-primaria: #e21;
  --cor-escura: #900;
  --fundo-1: #f7f7f7;
  --fundo-2: #ffffff;
  --texto: #000000;
  --subtitulo: rgba(0, 0, 0, 0.2);
  --onda: url("../img/onda-clara.svg");
}

@media (prefers-color-schme: dark) {
  :root {
    --fundo-1: #111111;
    --fundo-2: #000000;
    --texto: #ffffff;
    --subtitulo: rgba(255, 255, 255, 0.2);
    --onda: url("../img/onda-escura.svg");
  }
}

body {
  margin: 0px;
  background: var(--fundo-1);
  font-family: arial;
  color: var(--texto);
}

h1,
h2,
h3,
p,
a {
  margin: 0px;
  padding: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.gap-20 {
  gap: 1.25rem;
}

.gap-60 {
  gap: 3.75rem;
}

.mtop-60 {
  margin-top: 3.75rem;
}
